#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Яндекс.Диск Tray
Comment=Управление Яндекс.Диском из трея
Exec=$HOME/bin/yandex-disk-tray.py
Icon=yandex-disk
Terminal=false
Type=Application
Categories=Network;FileTransfer;
EOF
